* {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  font-family: 'Poppins', sans-serif;
  font-size: 10px;
  background-color: #F9FBFC;
  color: #242F51;
  overflow-x: hidden;
}

.container {
  max-width: 1400px;
  padding: 0 20px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  background-color: #2500F9;
  color: #fff !important;
  padding: 18px 30px !important;
  border-radius: 30px;
  font-weight: 600;
  margin-left: 30px;
  border: none !important;
  text-decoration: none;
}

.container__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0 30px;
}

.logo {
  font-size: 3rem;
  display: inline-block;
}

.logo--link {
  text-decoration: none;
  color: #242F51;
}

.logo--black {
  color: #FCAE61;
}

.main__nav__burger {
  display: block;
}

.main__nav__elem {
  text-align: right;
  display: inline-block;
}

.main__nav__elem--link {
  text-decoration: none;
  color: #242F51;
  padding: 18px 12px;
  -webkit-transition: .2s;
  transition: .2s;
  border-bottom: 2px solid transparent;
  font-size: 1.6rem;
}

.main__nav__elem--link:hover {
  border-bottom: 2px solid #242F51;
}

.main__header {
  background-image: url(../img/header/header-bgc-bottom.png);
  background-repeat: repeat-x;
  background-position: bottom;
}

.main__header__bg {
  background-image: url(../img/header/header-bgc.png);
  background-repeat: no-repeat;
  background-position: left;
}

.main__header .container {
  background-image: url(../img/header/header-bgc-title.png);
  background-repeat: no-repeat;
  background-position: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.main__header__img img {
  width: 100%;
}

.welcome-text {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  margin-top: -100px;
  font-size: 1.8rem;
  padding-left: 20px;
}

.welcome-text__title {
  font-size: 6rem;
  padding: 14px 0;
  line-height: 1.3;
}

.welcome-text__certificate {
  background-color: #E2EAED;
  display: inline-block;
  padding: 4px 20px 4px 0;
  border-radius: 20px;
}

.welcome-text__certificate__arrow {
  background-color: #FEAA25;
  padding: 5px 10px;
  border-radius: 20px;
  margin-right: 6px;
  color: #fff;
  border: 2px solid;
}

.welcome-text__description {
  width: 80%;
  color: #616368;
  padding-bottom: 25px;
}

.welcome-text__link {
  color: #2500F9;
  text-decoration: none;
  margin-left: 30px;
}

.companies {
  margin: 150px 0 160px;
}

.companies__title {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 50px;
}

.companies__imgs {
  padding: 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features__img {
  background-image: url(../img/features/phone-bg-big.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 95%;
}

.features__img img {
  width: 570px;
}

.features__text {
  margin-left: 100px;
}

.features__text__title__h2 {
  font-size: 3.6rem;
  width: 50%;
  line-height: 1.3;
}

.features__text__title__description {
  font-size: 1.6rem;
  width: 80%;
  color: #616368;
  margin: 10px 0 50px;
}

.items--row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.items__img {
  border-radius: 50%;
  padding: 15px;
  margin: 0 30px 30px 0;
  height: 88px;
  width: 88px;
}

.items__title__h3 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.items__title__description {
  font-size: 1.6rem;
  width: 40%;
  color: #616368;
}

.items__title__description--row {
  width: 70%;
}

.items__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.items__item--jackpots {
  display: block;
}

.items__item--red h3 {
  color: #F55767;
}

.items__item--red .items__img {
  background-color: #FFECEF;
}

.items__item--blue h3 {
  color: #2563FF;
}

.items__item--blue .items__img {
  background-color: #F4F4FF;
}

.items__item--green h3 {
  color: #40975F;
}

.items__item--green .items__img {
  background-color: #E4FFEE;
}

.jackpots {
  margin: 130px 0;
}

.jackpots .container {
  padding: 0 100px;
}

.jackpots__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 80px;
}

.jackpots__title__h2 {
  font-size: 4rem;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-right: 50px;
  border-right: 2px solid #4B4A48;
}

.jackpots__title__description {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  font-size: 1.6rem;
  padding-left: 50px;
  color: #616368;
}

.designed {
  padding-bottom: 100px;
  border-bottom: 2px solid #E5E6E5;
  margin: 150px 0;
}

.designed .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 150px;
}

.designed__img {
  width: 600px;
}

.designed__title {
  padding-left: 100px;
}

.designed__title__h2 {
  font-size: 3.6rem;
  margin-bottom: 30px;
}

.designed__title__description {
  font-size: 1.6rem;
  color: #616368;
  margin-bottom: 30px;
  max-width: 500px;
}

.designed__title .btn {
  margin: 0;
  font-size: 1.6rem;
}

@media (max-width: 1450px) {
  .container {
    max-width: 1200px;
  }
  .items__title__description {
    width: 80%;
  }
  .features__text__title__h2 {
    width: auto;
  }
  .companies {
    margin: 100px 0;
  }
}

@media (max-width: 1280px) {
  .jackpots {
    margin: 130px 0;
  }
  .jackpots .container {
    padding: 0 0 0 100px;
  }
  .designed__img img {
    width: 500px;
  }
}

@media (max-width: 1024px) {
  .main__nav__elem--link {
    font-size: 1.4rem;
  }
  .logo {
    font-size: 2.6rem;
  }
  .container {
    max-width: 980px;
  }
  .welcome-text {
    font-size: 1.4rem;
  }
  .welcome-text__title {
    font-size: 4.4rem;
  }
  .main__header__img img {
    width: 330px;
  }
  .features__img img {
    width: 400px;
  }
  .items__title__h3 {
    font-size: 1.7rem;
  }
  .items__title__description {
    font-size: 1.4rem;
  }
  .jackpots__title__h2 {
    font-size: 3rem;
  }
  .jackpots__title__description {
    font-size: 1.4rem;
  }
  .designed__img img {
    width: 380px;
  }
  .designed__title__h2 {
    font-size: 3rem;
  }
  .designed__title__description {
    font-size: 1.4rem;
  }
  .jackpots {
    margin-bottom: 100px;
  }
  .designed {
    margin: 50px 0;
  }
  .jackpots__title {
    margin-bottom: 30px;
  }
}

@media (max-width: 960px) {
  .designed .container {
    margin: 0 70px;
  }
}

@media (max-width: 854px) {
  .companies__imgs__img img {
    width: 100px;
  }
  .features__img img {
    width: 300px;
  }
  .features__text__title__h2 {
    font-size: 3rem;
  }
  .features__text__title__description {
    font-size: 1.4rem;
    margin: 10px 0 20px;
  }
  .items__item {
    padding: 10px 0;
  }
  .jackpots {
    margin: 90px 0;
  }
  .designed__img img {
    width: 330px;
  }
  .designed__title__h2 {
    font-size: 2.8rem;
  }
  .btn {
    margin: 0;
  }
}

@media (max-width: 854px) {
  .main__nav__ul {
    position: fixed;
    right: 0;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 1;
    text-transform: uppercase;
    width: 100%;
    height: 100%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: .7s;
    transition: .7s;
    background-color: #F9FBFC;
  }
  .main__nav__burger {
    position: fixed;
    top: 35px;
    right: 40px;
    cursor: pointer;
    padding: 10px;
    z-index: 3;
  }
  .main__nav__burger span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background-color: #242F51;
    border-radius: 3px;
    z-index: 2;
    -webkit-transform-origin: 4px 0px;
            transform-origin: 4px 0px;
    -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  .main__nav__burger span:first-child {
    -webkit-transform-origin: 0% -50%;
            transform-origin: 0% -50%;
  }
  .main__nav__burger span:nth-child(3) {
    -webkit-transform-origin: 0% 150%;
            transform-origin: 0% 150%;
  }
  .main__nav__elem {
    text-align: center;
    padding: 50px;
  }
  .main__nav__elem--link {
    font-size: 2.5rem !important;
    border: none;
  }
  .main__nav__elem--link:hover {
    border: none;
  }
  ul.active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  ul.active ~ .main__nav__burger > span {
    -webkit-transform: rotate(45deg) translate(-2px, -1px);
            transform: rotate(45deg) translate(-2px, -1px);
  }
  ul.active ~ .main__nav__burger span:nth-child(2) {
    opacity: 0;
    -webkit-transform: rotate(0deg) scale(0.2, 0.2);
            transform: rotate(0deg) scale(0.2, 0.2);
  }
  ul.active ~ .main__nav__burger span:nth-child(3) {
    -webkit-transform: rotate(-45deg) translate(0, -1px);
            transform: rotate(-45deg) translate(0, -1px);
  }
}

@media (max-width: 768px) {
  .features__img {
    display: none;
  }
  .designed__img img {
    width: 250px;
  }
  .designed__title {
    padding-left: 60px;
  }
}

@media (max-width: 700px) {
  .main__header .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main__header__img img {
    width: 280px;
  }
  .welcome-text {
    margin-top: 20px;
  }
  .main__header .container {
    background-image: none;
  }
  .companies__imgs {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .companies__imgs__img {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    text-align: center;
    padding-top: 40px;
  }
  .companies__title {
    margin-bottom: 30px;
  }
}

@media (max-width: 640px) {
  .jackpots .container {
    padding: 0 0 0 50px;
  }
  .designed .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .designed__img {
    text-align: center;
    margin-bottom: 20px;
  }
  .designed__title .btn {
    display: block;
    margin: 0 auto;
  }
  .designed__title {
    padding: 0;
  }
  .main__nav__elem {
    padding: 20px;
  }
  .main__nav__ul {
    padding-top: 50px;
  }
}

@media (max-width: 533px) {
  .features__text {
    padding-left: 30px;
    margin: 0 auto;
  }
  .jackpots__title__h2 {
    padding-right: 10px;
  }
  .jackpots__title__description {
    padding-left: 20px;
  }
}

@media (max-width: 375px) {
  .welcome-text__title {
    font-size: 3rem;
  }
  .welcome-text__link {
    margin-left: 10px;
  }
  .container__nav {
    padding: 15px 0;
  }
  .jackpots .container {
    padding: 28px;
  }
  .jackpots__title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .jackpots__title__h2 {
    border-right: none;
    border-bottom: 2px solid #4B4A48;
    padding-bottom: 20px;
  }
  .jackpots__title__description {
    padding: 20px 0;
  }
  .items--row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .items__item--jackpots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .items__title__description {
    width: auto;
  }
  .items__item--jackpots .items__img {
    margin: 0 0 20px 0;
  }
  .designed .container {
    margin: 0 20px;
  }
}

@media (max-width: 320px) {
  .main__nav__elem {
    padding: 15px;
  }
  .main__nav__elem--link {
    font-size: 2rem !important;
  }
  .welcome-text {
    font-size: 1.3rem;
  }
  .logo {
    font-size: 2.3rem;
  }
  .main__nav__burger {
    top: 28px;
  }
}
/*# sourceMappingURL=style.css.map */