@media ( max-width: 1450px )
    .container
        max-width: 1200px
    .items__title__description
        width: 80%
    .features__text__title__h2
        width: auto
    .companies
        margin: 100px 0

@media ( max-width: 1280px )
    .jackpots
        margin: 130px 0
        .container
            padding: 0 0 0 100px
    .designed__img
        img
            width: 500px

@media ( max-width: 1024px )
    .main__nav__elem--link
        font-size: 1.4rem
    .logo
        font-size: 2.6rem
    .container
        max-width: 980px
    .welcome-text
        font-size: 1.4rem
        &__title
            font-size: 4.4rem
    .main__header__img
        img
            width: 330px
    .features__img
        img
            width: 400px
    .items__title
        &__h3
            font-size: 1.7rem
        &__description
            font-size: 1.4rem
    .jackpots__title
        &__h2
            font-size: 3rem
        &__description
            font-size: 1.4rem
    .designed__img
        img
            width: 380px
    .designed__title
        &__h2
            font-size: 3rem
    .designed__title
        &__description
            font-size: 1.4rem
    .jackpots
        margin-bottom: 100px
        &__title
            margin-bottom: 30px
    .designed
        margin: 50px 0

@media ( max-width: 960px )
    .designed .container
        margin: 0 70px

@media ( max-width: 854px )
    .companies__imgs__img
        img
            width: 100px
    .features__img
        img
            width: 300px
    .features__text__title
        &__h2
            font-size: 3rem
    .features__text__title
        &__description
            font-size: 1.4rem
            margin: 10px 0 20px
    .items__item
        padding: 10px 0
    .jackpots
        margin: 90px 0
    .designed__img
        img
            width: 330px
    .designed__title__h2
        font-size: 2.8rem
    .btn
        margin: 0

//NAVI
@media ( max-width: 854px )
    .main__nav__ul
        position: fixed
        right: 0
        top: 0
        display: flex
        flex-direction: column
        z-index: 1
        text-transform: uppercase
        width: 100%
        height: 100%
        transform: translateX(100%)
        transition: .7s
        background-color: $bgc-color

    .main__nav
        &__burger
            position: fixed
            top: 35px
            right: 40px
            cursor: pointer
            padding: 10px
            z-index: 3
            span
                display: block
                width: 33px
                height: 4px
                margin-bottom: 5px
                position: relative
                background-color: $black-color
                border-radius: 3px
                z-index: 2
                transform-origin: 4px 0px
                transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease
                &:first-child
                    transform-origin: 0% -50%
                &:nth-child(3)
                    transform-origin: 0% 150%

        &__elem
            text-align: center
            padding: 50px
            &--link
                font-size: 2.5rem !important
                border: none
                &:hover
                    border: none
    ul.active
        transform: translateX(0)

        & ~ .main__nav__burger > span
            transform: rotate(45deg) translate(-2px, -1px)
        & ~ .main__nav__burger span:nth-child(2)
            opacity: 0
            transform: rotate(0deg) scale(0.2, 0.2)
        & ~ .main__nav__burger span:nth-child(3)
            transform: rotate(-45deg) translate(0, -1px)

@media  ( max-width: 768px )
    .features__img
        display: none
    .designed__img
        img
            width: 250px
    .designed__title
        padding-left: 60px

@media ( max-width: 700px )
    .main__header .container
        flex-direction: column
    .main__header__img
        img
            width: 280px
    .welcome-text
        margin-top: 20px
    .main__header .container
        background-image: none
    .companies__imgs
        flex-wrap: wrap
        &__img
            flex-basis: 50%
            text-align: center
            padding-top: 40px
    .companies__title
        margin-bottom: 30px

@media ( max-width: 640px )
    .jackpots .container
        padding: 0 0 0 50px
    .designed .container
        flex-direction: column
        justify-content: center
    .designed__img
        text-align: center
        margin-bottom: 20px
    .designed__title .btn
        display: block
        margin: 0 auto
    .designed__title
        padding: 0
    .main__nav__elem
        padding: 20px
    .main__nav__ul
        padding-top: 50px

@media (max-width: 533px)
    .features__text
        padding-left: 30px
        margin: 0 auto
    .jackpots__title
        &__h2
            padding-right: 10px
        &__description
            padding-left: 20px

@media ( max-width: 375px )
    .welcome-text__title
        font-size: 3rem
    .welcome-text__link
        margin-left: 10px
    .container__nav
        padding: 15px 0
    .jackpots .container
        padding: 28px
    .jackpots__title
        flex-direction: column
        &__h2
            border-right: none
            border-bottom: 2px solid #4B4A48
            padding-bottom: 20px
        &__description
            padding: 20px 0
    .items--row
        flex-direction: column
        align-items: center
    .items__item--jackpots
        display: flex
        flex-direction: column
        justify-content: center
        text-align: center
        .items__img
            margin: 0 0 20px 0
    .items__title__description
        width: auto
    .designed .container
        margin: 0 20px

@media ( max-width: 320px )
    .main__nav__elem
        padding: 15px
    .main__nav__elem--link
        font-size: 2rem !important
    .welcome-text
        font-size: 1.3rem
    .logo
        font-size: 2.3rem
    .main__nav__burger
        top: 28px
