.testimonial
    display: flex
    align-items: center
    margin-bottom: 200px
    max-width: 1800px
    margin: 0 auto
    &__map
        position: relative
        width: $map-width
        flex-shrink: 0
        &__bg
            width: 100%
            opacity: .35
        &__person
            position: absolute
            cursor: pointer
            &--first
                top: 15%
                left: 5%
                @include circle($map-width/12)
            &--second
                top: 34%
                left: 13%
                @include circle($map-width/13)
            &--third
                top: 45%
                left: 42%
                @include circle($map-width/10)
            &--fourth
                top: 40%
                left: 65%
                @include circle($map-width/10)
            &--fifth
                top: 12%
                left: 70%
                @include circle($map-width/9)
            &--sixth
                top: 3%
                left: 30%
                @include circle($map-width/13)
            &--seventh
                top: 65%
                left: 18%
                @include circle($map-width/9)
            img
                @include center_position
    &__content
        flex-shrink: 1
        flex-basis: 600px
        padding-right: 20px
        overflow: hidden
    &__title
        margin-bottom: 30px
    &__description
        width: 85%

.opinion
    &__wrapper
        position: relative
        height: 400px
        .opinion
            transition: .4s
            position: absolute
            transform: translateX(120%)
        &__first
            transform: translateX(0)
        .active
            transform: translateX(0)

    &__stars
        font-size: 2rem
        margin: 45px 0 30px 0
    &__title
        font-size: 2rem
        margin-bottom: 30px
    &__slider
        display: flex
        align-items: center
        // margin-top: 80px

.slider
    &__img
        @include circle(78px)
    &__personal
        flex-grow: 1
        font-size: 1.8rem
        margin-left: 30px
        &__name
            font-weight: bold
    &__arrows
        display: flex
        justify-content: space-between
        position: relative
        font-size: 1.8rem
        &::before
            content: ''
            @include center_position
            height: 75%
            width: 2px
            background-color: #DEE1E6

    &__arrow
        @include circle(50px)
        color: $blue-color
        background-color: #EFF3F8
        border: 2px solid #EFF3F8
        display: flex
        align-items: center
        justify-content: center
        cursor: pointer
        transition: .2s
        &:hover
            background-color: $blue-color
            color: #DEE1E6
        &--left
            margin-right: 35px
