$yellow-color: #FCAE61
$black-color: #242F51
$black-description-color: #616368
$gray-color: #999CA5
$blue-color: #2500F9
$light-red-color: #F55767
$light-blue-color: #2563FF
$light-green-color: #40975F
$bgc-color: #F9FBFC

// SWITCH BUTTON 
$toggle-width: 280px
$toggle-height: 60px
$toggle-width-inside: $toggle-width / 2
$toggle-gutter: 5px
$toggle-radius: 50%
$toogle-border: 2px
$toggle-control-speed: .18s
$toggle-control-ease: ease-in

$toggle-radius: $toggle-height / 2
$toggle-control-size: $toggle-height - ($toggle-gutter * 2)

@mixin monthly_or_anually($content, $left)
    content: $content
    color: $black-description-color
    font-size: 16px
    line-height: $toggle-control-size
    position: absolute
    left: $left
    top: $toggle-gutter - $toogle-border
    width: $toggle-width-inside
    height: $toggle-control-size
